<html>
    <head>
        <title>hover 시 track 재생</title>
    </head>

    <body>
        <p>
            <img
                onmouseenter="PlayTrack('previewLink') "
                onmouseleave="StopTrack('previewLink')"
                src="https://www.soundtrack.net/img/movie/30396.jpg"
            />
        </p>
        <audio
            id="previewLink"
            src="https://p.scdn.co/mp3-preview/eb463247243646de10aa4d9b3f2c0c8b836c1dc8?cid=0e18970867524f1fba6634279dd9e5b2"
        />

        <script type="text/javascript ">
            function PlayTrack(link) {
              var track = document.getElementById(link);
              track.play();
            }
            function StopTrack(link) {
              var track = document.getElementById(link);
              track.pause();
              track.currentTime = 0;
            }
        </script>
    </body>
</html>
