@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.App {
    text-align: center;
    font-family: "titlefont", "sub1", "sub2" "Noto Sans KR", sans-serif;
}

@font-face {
    font-family: "titlefont";
    src: url("./fonts/a엄마의편지B.otf");
}

@font-face {
    font-family: "sub1";
    src: url("./fonts/a이끌림M.otf");
}
@font-face {
    font-family: "sub2";
    src: url("./fonts/a펜글씨L.otf");
}

@font-face {
    font-family: "Lora", serif;
    src: url("https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+KR&display=swap");
}
