/* .checkbox {
    display: flex;
    align-items: center;
    width: auto;
} */

.checkbox input:checked + label {
    background-color: #666666;
}

.checkbox label {
    display: inline-block;
    width: 80px;
    height: 20px;
    border: 2px solid #bcbcbc;
    margin-right: 10px;
    cursor: pointer;
}

/* .checkbox input {
    display: none;
} */
/* 
.checkbox span {
    font-size: 1.125rem;
    font-weight: bold;
} */
.signup input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid rgb(192, 187, 187);
    outline: none;
    margin-bottom: 10px;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn2 {
    color: white;
    background-color: rgb(218, 218, 218);
    font-size: 20px;
    font-weight: bold;

    width: 300px;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 10px;

    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;

    cursor: pointer;
}

.btn2:hover {
    background-color: tomato;
}
